/* Reset some default styles */
body,
h1,
h2,
p,
a {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
}
img {
    max-width: 100%;
}
header {
    background-color: #333;
    text-align: center;
    padding: 1rem 0;
}

.hero {
    height: 100vh;
    background-image: url("hero-background.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
}

.hero-content {
    padding: 2rem;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.hero p {
    font-size: 1.2rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
}

.project-card {
    background-color: #333;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    width: 100%;
    height: 80vh;
    display: flex;
}

.project-card img {
    width: 50%;
    border-radius: 5px;
    object-fit: cover;
}

.project-details {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-details h2 {
    margin-top: 0;
}
.details-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}
.project-details p {
    max-width: 420px;
    margin: 0.5rem 0;
}

.link {
    display: inline-block;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    padding: 1.25rem 2.75rem;

    max-width: fit-content;
    border-radius: 1rem;
}
.link-github {
    margin-top: auto;
    background-color: #000;
}
.link-live {
    background-color: #10a310;
}
.link-contact {
    font-size: 1.25rem;
    margin-top: 1rem;
    color: #000;
    background-color: #eaea00;
}
footer {
    text-align: center;
    padding: 1rem 0;
}
